.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
playground/**
scripts/**
.gitignore
.git
.yarnrc
esbuild.js
pnpm-lock.yaml
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
